<section class="features">

  <div class="col-left">
    <div class="heading-block">
      <h2>Top <span>Features</span></h2>
    </div>
    <div class="video-thumbs">
      <button class="video-thumb thumb-1">
        <img src="assets/dist/img/video-thumb-1.jpg" alt="Man using samsung phone"/>
      </button>
      <button class="video-thumb thumb-2">
        <img src="assets/dist/img/video-thumb-2.jpg" alt="Woman using samsung phone"/>
      </button>
    </div>
  </div>

  <div class="col-right">
    <button class="more-details">More Details</button>
    <div class="info-blocks">
      <div class="info-block">
        <h6>3G</h6>
        <p>3G, short form of third generation, is the third generation of mobile telecommunications</p>
      </div>
      <div class="info-block">
        <h6>6" Touchscreen</h6>
        <p>A touchscreen is an input device normally layered on the top of an electronic visual display of an information processing system.Use our Touchscreen Selector to sort, search and filter.</p>
      </div>
      <div class="info-block">
        <h6>Browse the Web</h6>
        <p>The address bar is your starting point for browsing the web, with a combined address bar and search box so you can surf, search, or get suggestions all from Google.</p>
      </div>
      <div class="info-block">
        <h6>Wi-Fi Capable</h6>
        <p>If it is compliant or partly compatible, the Wi-Fi Alliance may not object to its description as a Wi-Fi device though technically only certified devices are approved.</p>
      </div>
      <div class="info-block">
        <h6>Camera</h6>
        <p>A camera is an optical instrument that records images that can be stored directly, transmitted to another location, or both. These images may be still photographs.</p>
      </div>
    </div>
  </div>

</section>
