<section class="reviews">

  <div class="row">
    <div class="col-left">
      <div class="heading-block">
        <h2>Read <span>Reviews</span></h2>
      </div>
    </div>
    <div class="col-right">
      <button class="more-details">More Details</button>
    </div>
  </div>

  <div class="row">
    <div class="col-left">
      <div class="overall-score">
        <h3 class="heading">Overall Score</h3>
        <p class="value">8/10</p>
      </div>
      <button class="btn green">Write a Review</button>
    </div>
    <div class="col-right">
      <div class="review-blocks">
        <div class="review-block">
          <div class="comment">
            <div class="rating">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star">☆</span>
            </div>
            <h3>GREAT PHONE!!</h3>
            <h6>Adam Ginther on August 6</h6>
            <p>nothing comes close to this baby. The S Pen gives you versatility. You don't think you will use it much at first... But I have come to rely on it in situations that I need to be precise or jot down quick notes. I love how precise it is, to the point where my handwriting looks like my own. The camera is superb, Samsung really did good in adding in the image stabilization to this phone.</p>
          </div>
          <div class="categories">
            <div class="category">
              <h6>Value</h6>
              <div class="category-scores">
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score">○</span>
              </div>
            </div>
            <div class="category">
              <h6>Price</h6>
              <div class="category-scores">
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score">○</span>
              </div>
            </div>
            <div class="category">
              <h6>Quality</h6>
              <div class="category-scores">
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
              </div>
            </div>
          </div>
        </div>
        <div class="review-block">
          <div class="comment">
            <div class="rating">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star">☆</span>
            </div>
            <h3>The Best Android phone yet.</h3>
            <h6>Chris Saunders on August 2</h6>
            <p>I moved up from a Samsung Galaxy 3, to the Samsung Note 4....Big move...the Note 4 is more phone/camera than I expected...the (magic) pen is awasome. Good job Samsung..best among the phablets available in the market now.....really awesome Absolutely, without doubt, the best phone ever made by men. Samsung got it right this time.</p>
          </div>
          <div class="categories">
            <div class="category">
              <h6>Value</h6>
              <div class="category-scores">
                <span class="category-score active">●</span>
                <span class="category-score">○</span>
                <span class="category-score">○</span>
                <span class="category-score">○</span>
                <span class="category-score">○</span>
              </div>
            </div>
            <div class="category">
              <h6>Price</h6>
              <div class="category-scores">
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score">○</span>
              </div>
            </div>
            <div class="category">
              <h6>Quality</h6>
              <div class="category-scores">
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score active">●</span>
                <span class="category-score">○</span>
                <span class="category-score">○</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
