<section class="specs">

  <div class="row">
    <div class="col-left">
      <button class="more-details">More Details</button>
    </div>
    <div class="col-right">
      <div class="heading-block">
        <img src="assets/dist/img/samsung-phone-alt.png" alt="Samsung Galaxy S5"/>
        <h2>Detailed <span>Specs</span></h2>
      </div>
    </div>
  </div>

  <div class="row specs">
    <div class="col-left">
      <div class="details-blocks">
        <div class="details-block">
          <h3>General</h3>
          <h5>4G Network</h5>
          <p>GSM 850 / 900 / 1800 / 1900 SIM</p>
          <h5>3G Network</h5>
          <p>HSDPA 850 / 900 / 1900 / 2100</p>
          <h5>SIM</h5>
          <p>Micro SIM</p>
        </div>
        <div class="details-block">
          <h3>Sound</h3>
          <h5>Alert Types</h5>
          <p>Vibration, MP3, Ringtones</p>
        </div>
        <div class="details-block">
          <h3>Display</h3>
          <h5>Type</h5>
          <p>Super AMOLED Capacative Touchscreen</p>
          <h5>Size</h5>
          <p>122 mm  x 66 mm (3.24 x 2.34 inches)</p>
        </div>
        <div class="details-block">
          <h3>Body</h3>
          <h5>Dimensions</h5>
          <p>137 mm x 71mm (5.38 x 2.75 inches)</p>
          <h5>Weight</h5>
          <p>220 grams (1.2LBs)</p>
        </div>
      </div>
      <button class="btn yellow">See More Specs</button>
    </div>
    <div class="col-right">
      <img class="phone-specs" src="assets/dist/img/samsung-phone-specs.png" alt="Samsung Galaxy S5 dimensions"/>
    </div>
  </div>

</section>
