@import "../variables"
@import "../functions"
@import "../mixins"

section.features
  width: 100%
  display: flex
  flex-direction: row
  .col-left
    width: 396px
    flex-grow: 0
    flex-shrink: 0
    flex-basis: auto
    align-self: flex-start
    margin: 0
  .col-right
    width: 824px
    flex-grow: 0
    flex-shrink: 0
    flex-basis: auto
    align-self: flex-start
    margin: 0

  .heading-block
    background-color: $color-pink

  .video-thumbs
    $thumb-size: (396px / 2)
    $play-btn-size: 54px
    font-size: 0
    height: 0
    position: relative
    button.video-thumb
      cursor: pointer
      position: absolute
      display: inline-block
      margin: 0
      padding: 0
      width: $thumb-size
      height: $thumb-size
      background: black
      border: none
      &.thumb-1
        top: 0
        right: 0
      &.thumb-2
        top: $thumb-size
        left: 0
      &:hover
        &::after
          transform: scale(1.05)
        img
          opacity: .75
      &::after
        +center($play-btn-size, $play-btn-size)
        width: $play-btn-size
        height: $play-btn-size
        font-family: sans-serif
        font-size: 2rem
        content: "►"
        line-height: ($play-btn-size - 4px)
        text-align: center
        text-indent: 5px
        background: rgba(white, .25)
        color: white
        border: 4px solid white
        border-radius: 100%
        transition: all 100ms ease-out
      img
        display: block
        width: 100%
        height: 100%
        object-fit: fill
        opacity: .6
        transition: all 100ms ease-out

  .info-blocks
    background: white
    margin-top: 94px
    padding: 9px 10px
    column-count: 2
    column-gap: 26px
    .info-block
      display: inline-block
      vertical-align: top
      padding: 14px 14px 14px 24px
      h6
        margin: 0 0 2px 0
        font-size: 1.1rem
        font-weight: bold
        letter-spacing: .02rem
      p
        margin: 0
        font-size: 1.1rem
        line-height: 1.55
        letter-spacing: .01rem
