@import "../variables"
@import "../functions"
@import "../mixins"

section.hero
  padding: 2px 115px
  display: flex
  flex-direction: row
  .col-left
    flex: 0 0 auto
  .col-right
    flex: 1 1 auto
    padding-left: 24px

  .heading
    margin: 82px 0 23px 0
    font-size: 5.4rem
    letter-spacing: 0.15rem
    line-height: .9
    .sub
      display: block
      font-size: 2.4rem
      font-weight: normal
      letter-spacing: 0.05rem
      line-height: 2.1

  .product-info
    .add-to-cart
      padding-right: 195px
      margin-bottom: 60px
      .price
        float: left
        font-weight: normal
        font-size: 2.45rem
      select,
      button
        cursor: pointer
        display: inline-block
        border: none
        border-radius: 4px
        background: white img-url('arrow-down.svg') no-repeat calc(100% - 20px) 50%
      select
        float: right
        padding: 7px (20px + 13px + 12px) 7px 22px
        margin-top: 4px
        font-size: 1.5rem
        -webkit-appearance: none
      button
        clear: both
        width: 100%
        padding: 17px (20px + 13px + 12px) 17px 28px
        margin-top: 20px
        font-size: 1.1rem
        text-align: left

    .description
      margin-top: 0
      margin-bottom: 56px
      padding-right: 90px
      font-size: 1.125rem
      line-height: 1.45

    .protection-plan
      padding: 24px 30px
      margin-right: 90px
      background-color: white
      h3
        margin: 0 0 5px 0
        font-size: 1.085rem
        line-height: 1.5
      .checkbox,
      .disclaimer
        font-size: .88rem
        font-weight: bold
      .checkbox
        margin-bottom: 10px
        input[type="checkbox"]
          margin-right: 10px
        .cost
          margin-left: 18px
          color: $color-blue
      .disclaimer
        margin: 0
