@import "functions"

=ghost($scale: 1)
  position: relative
  &::after
    content: ''
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: (1800px / $scale)
    height: (3875px / $scale)
    background-image: img-url('ghost/CSS-assessment.jpg')
    background-size: contain
    opacity: 0.75

=center($width: auto, $height: auto, $position: absolute, $left: 50%, $top: 50%)
  position: $position
  left: $left
  top: $top
  @if $width == auto and $height == auto
    transform: translate(-$left, -$top)
  @else if $width == auto
    transform: translateX(-$left)
    margin-top: -($height / 2)
  @else if $height == auto
    transform: translateY(-$top)
    margin-left: -($width / 2)
  @else
    margin-top: -($height / 2)
    margin-left: -($width / 2)

=vertical-center($height: auto, $position: absolute, $top: 50%)
  position: $position
  top: $top
  @if $height == auto
    transform: translateY(-$top)
  @else
    margin-top: -($height / 2)

=horizontal-center($width: auto, $position: absolute, $left: 50%)
  position: $position
  left: $left
  @if $width == auto
    transform: translateX(-$left)
  @else
    margin-left: -($width / 2)

=calc-column-widths($total: 3, $margin: 0)
  @if unit($margin) == %
    // [32%] 2% [32%] 2% [32%]
    width: (100% / $total) - ($margin * ($total - 1) / $total)
  @else if $margin > 0
    // [calc(33.33%-6.66px)] 10px [calc(33.33%-6.66px)] 10px [calc(33.33%-6.66px)]
    width: calc(#{100% / $total} - #{$margin * ($total - 1) / $total})
  @else
    // [33.33%][33.33%][33.33%]
    width: 100% / $total
  @if $total > 1 and $margin > 0
    &:not(:last-child):not(:nth-of-type(#{$total}n))
      margin-right: $margin
