@import "normalize.scss/sass/normalize"
@import "breakpoint-sass/stylesheets/breakpoint"
@import "variables"
@import "functions"
@import "mixins"

html
  height: 100%
  *
    font-family: 'Open Sans', sans-serif
    color: $color-font
  body
    //+ghost
    min-height: 100%
    margin: 0
    background-color: $color-bg
    overflow-x: hidden
    box-sizing: border-box
    *,
    *::before,
    *::after
      box-sizing: inherit

#CssAssessment
  width: 1220px
  margin: 0 auto
  @import "global"
  @import "views/hero"
  @import "views/features"
